form {
  min-width: 32rem;
	border-radius: 6px;
	padding: 2.5rem 3rem;
  display: flex;
  flex-direction: column;

  padding: 30px;

  position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input.login-input {
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 8px;
}