div.login {
  height: 100%;
  width: 100%;
  background-color: rgb(27, 163, 84);
  position: absolute;
}

div.login h2 {
  color: rgb(188, 255, 2);
  font-size: 32px;
}

div.login div.login-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  text-align: justify;
}

div.login form {
  min-width: 57rem;
  border-radius: 2px;
  padding: 1.5rem 3rem;
  outline: unset;
  padding: 30px;
  gap: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.login form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

div.login input.login-input {
  margin-bottom: 27px;
  padding: 14px;
  text-align: center;
  outline: unset;
  border-radius: 11px;
  background-color: rgb(241, 244, 247);
}

button[type="submit"] {
  padding: 12px 40px;
  letter-spacing: 1px;
  border: none;
  border-radius: 7px;
  background-color: rgb(188, 255, 2);
  font-size: 17px;
  cursor: pointer;
}

div.login div {
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
}

div.login h1 {
  color: azure;
  margin: 0;
  font-size: 32px;
  left: 90px;
  align-items: center;
  text-align: justify;
}

.emptyText {
  color: brown;
}
