div.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(27, 163, 84);
  color: #fff;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.centered-text {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #19743f;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #f9fcf9;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.login-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f1f4f7;
  color: #333;
  font-size: 16px;

  transition: border-color 0.3s, box-shadow 0.3s;
}
.login-input:focus {
  border-color: #258558;
  box-shadow: 0 0 5px rgba(28, 134, 76, 0.3);
}
.label {
  text-align: center;
  font-weight: bold;
  color: #555;
}
.login-button {
  padding: 12px 40px;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
  background: rgb(27, 163, 84);
  margin-top: 24px;
}

.emptyText {
  color: brown;
}

.error-message {
  background-color: #fdd;
  color: #d00;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}
