div.in {
  position: center;

  height: 500px;
  padding: 50px;
}

div.in h1 {
  color: rgb(73, 50, 19);
  text-align: center;
}

div.dash {
  background-color: rgb(54, 54, 107);
}

div.box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
}

input.pesquisar {
  height: 30px;
  border-radius: 7px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 20%;
}

div.qtnArq {
  background: rgb(27, 163, 84);
  height: 98px;
  width: 170px;
  border-radius: 15px;
}
div.div-pesquisar {
  text-align: right;
  margin: 12px;
}

a.download {
  background: transparent;
  cursor: pointer;

  color: rgb(17, 14, 14);

  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

div.qtnArq {
  height: 80px;
  background: rgb(27, 163, 84);
  color: rgb(245, 245, 245);
  float: right;
  margin-top: 70px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
