div.in {
  position: center;

  height: 700px;
  padding: 30px;
}

div.in h1 {
  color: rgb(73, 50, 19);
  text-align: center;
}
.custom-bg-color {
  background-color: rgb(27, 163, 84); /* Cor personalizada */
  color: white; /* Cor do texto, se necessário */
}

div.dash {
  background-color: rgb(54, 54, 107);
}

div.box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
}

.div-pesquisar {
  position: relative;
}

.input-container {
  position: relative;
}

.pesquisar {
  padding-right: 30px;

  width: 250px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.pesquisar::placeholder {
  color: #615c5c;
}

.pesquisar:focus {
  border-color: #109c46;
  box-shadow: 0 0 5px rgba(12, 117, 52, 0.3);
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
div.qtnArq {
  background: rgb(27, 163, 84);
  height: 98px;
  width: 170px;
  border-radius: 15px;
}
div.div-pesquisar {
  text-align: right;
  margin: 12px;
}

a.download {
  background: transparent;
  cursor: pointer;

  color: rgb(28, 138, 77);

  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

div.qtnArq {
  height: 80px;
  background: rgb(27, 163, 84);
  color: rgb(245, 245, 245);
  float: right;
  margin-top: 70px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
