div.tudo {
  padding: 60px;
}
h1 {
  margin: 0;
}

div.usuarios {
  height: 100%;
  padding: 0px;

  text-align: center;
  font-size: 18px;
}

select {
  width: 220px;
  margin-left: 16px;
  background-color: #f2f2f2;
  height: 38px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  color: rgb(53, 43, 43);
  font-size: 16px;
  border-radius: 10px;
}

.nomes {
  height: 20px;
}

.option {
  background-color: rgb(231, 202, 202);
}
