header {
  display: flex; /* serve para colocar os itens dentro da tag um do lado do outro */
  align-items: center;
  justify-content: flex-start;
  gap: 50px; /* dar espaço em px entre os itens dentro do display flex */
  background: rgb(27, 163, 84);
}

img.logo {
  width: 90px;
  height: 90px;
}

a.header-link {
  border: 0;
  background: transparent;
  cursor: pointer;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

button.sair {
  position: fixed;
  right: 20px;
  background-color: yellow;
  color: rgb(8, 8, 6);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
}
button.sair:hover {
  transition: 0.5s;
  background-color: rgb(119, 119, 16);
}
.user {
  color: aliceblue;
}
.idUsuario {
  color: aliceblue;
}
