h2.criar {
  color: rgb(68, 66, 66);
}
.testandooo {
  background-color: rgb(229, 255, 216);
  padding: 25px;
  width: 630px;
  height: auto;
  text-align: left;
}

div.key {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinha verticalmente os elementos ao centro (opcional) */
  gap: 50px;
}

/*forumlario*/
form {
  margin: 7px;
  text-align: left;
}

/*alinhando tudo os input*/
div.testandooo input {
  display: block;
  margin-top: 7px;
  width: 215px;

  border: 1px solid #d3d3d3;
  padding: 10px;

  border-radius: 8px;
  font-size: 15px;
  color: #2e3130;
  background-color: #fffdfd;
  transition: border-color 0.3s, background-color 0.3s;
}

/*selec de extensao */
div select.extensao {
  color: rgb(146, 146, 146);
  display: block;
  width: 80px;
  color: #333;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
}

input[type="number"][name="qntColuna"] {
  padding: 10px;

  border-radius: 8px;
  font-size: 15px;
  width: 30%;
  color: #343635; /* Cor do texto alterada */
  background-color: #fffdfd; /* Cor de fundo alterada para um cinza mais claro */
  transition: border-color 0.3s, background-color 0.3s;
}

input[type="number"][name="qntColuna"]:focus {
  border-color: #355742; /* Cor da borda alterada quando o input está em foco */
  background-color: #fff; /* Cor de fundo alterada quando o input está em foco */
}
.mensagem-sucesso {
  color: green;
  font-weight: bold; /* Opcional, torna o texto em negrito */
}

.download1 {
  color: #fdfdfd;
  display: inline-block;
  margin-left: 0;
  margin-top: 14px;
  font-size: 17px;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  background-color: #1e8a57;
}

.download1:hover {
  background-color: #196e46;
  color: #fff;
}
