div.cabeca {
  text-align: center;
  color: #2e1f12;
  padding: 50px;
}

div.cabe {
  background-color: #0a0a0a;
}

.upload {
  text-decoration: none;
  color: #1f8b50;
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.upload:hover {
  background-color: #1e8a57;
  color: #fff;
}

.download {
  text-decoration: none;
  color: #1f8b50;
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.download:hover {
  background-color: #1e8a57;
  color: #fff;
}
.status {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
